<p id="notice"><%= notice %></p>

<h1>Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <div id="<%= dom_id(quiz) %>">
     <br>
     <p>
       <%= quiz.title %>
       <%= link_to '🔎', quiz_path(quiz) %>
       <%= link_to '🖋', edit_quiz_path(quiz) %>
       <%= link_to '🗑', quiz_path(quiz), method: :delete %>
     </p>

     <p>
       <%= truncate quiz.description, length: 75, separator: ' ' %>
     </p>
   </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_quiz_path %>
