<%= form_with(model: assesment, local: true) do |form| %>
  <% if assesment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assesment.errors.count, "error") %> prohibited this assesment from being saved:</h2>

      <ul>
        <% assesment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :distractor_1 %>
    <%= form.text_field :distractor_1 %>
  </div>

  <div class="field">
    <%= form.label :distractor_2 %>
    <%= form.text_field :distractor_2 %>
  </div>

  <div class="field">
    <%= form.label :distractor_3 %>
    <%= form.text_field :distractor_3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
